## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head(10)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,10556855,MINORITY ORGAN & TISSUE TRANSPLANT & EDUCATION...,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,10558440,FRIENDS OF ARTS COUNCIL OF GREATER DENHAM SPRI...,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,10566033,ISRAEL EMERGENCY ALLIANCE,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,10570430,ARAMCO BRATS INC,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,10571689,INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
no_id_application_df = application_df.drop(columns=['EIN','NAME'])
no_id_application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
no_id_application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_value_counts = no_id_application_df['APPLICATION_TYPE'].value_counts()

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_filter = application_value_counts < 1000

application_types_to_replace = application_value_counts.loc[application_types_filter].index
# application_types_to_replace
# Replace in dataframe
for app in application_types_to_replace:
    no_id_application_df['APPLICATION_TYPE'] = no_id_application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
no_id_application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_value_counts = no_id_application_df['CLASSIFICATION'].value_counts()
classification_value_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
filter = classification_value_counts > 1
multiple_classifications = classification_value_counts.loc[filter].index
multiple_classifications# You may find it helpful to look at CLASSIFICATION value counts >1

Index(['C1000', 'C2000', 'C1200', 'C3000', 'C2100', 'C7000', 'C1700', 'C4000',
       'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230',
       'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800',
       'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210',
       'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0',
       'C3200', 'C1234', 'C1246', 'C1267', 'C1256'],
      dtype='object', name='CLASSIFICATION')

In [8]:
#create data frame that only uses classifications with more than one classification 
no_id_application_df = no_id_application_df.loc[no_id_application_df['CLASSIFICATION'].isin(multiple_classifications)]
no_id_application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,Other,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_filter = classification_value_counts < 1500
classifications_to_replace = classification_value_counts.loc[classification_filter].index

# Replace in dataframe
for cls in classifications_to_replace:
    no_id_application_df['CLASSIFICATION'] = no_id_application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
no_id_application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2235
C3000     1918
C2100     1883
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
# no_id_application_df.dtypes

no_id_application_df = pd.get_dummies(no_id_application_df,dtype=float)

In [11]:
no_id_application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [12]:
no_id_application_df.columns

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3', 'APPLICATION_TYPE_T4',
       'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent',
       'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200',
       'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_Other', 'USE_CASE_CommunityServ', 'USE_CASE_Heathcare',
       'USE_CASE_Other', 'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0',
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

In [13]:
# Split our preprocessed data into our features and target arrays
X = no_id_application_df.drop(columns=['IS_SUCCESSFUL','SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y','STATUS'], axis=1).values
y = no_id_application_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42, stratify=y)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_dims = len(X_train[0])
hidden_nodes_layer1 =  64
hidden_nodes_layer2 = 32
hidden_nodes_layer3 = 16
hidden_nodes_layer4 = 8

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=num_dims, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

/Users/grantgorham/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │         2,432 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 16)             │           528 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 1)              │            17 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 5,057 (19.75 KB)

 Trainable params: 5,057 (19.75 KB)

 Non-trainable params: 0 (0.00 B)

In [16]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 325us/step - accuracy: 0.6884 - loss: 0.5939
Epoch 2/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 306us/step - accuracy: 0.7286 - loss: 0.5567
Epoch 3/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 303us/step - accuracy: 0.7348 - loss: 0.5510
Epoch 4/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7363 - loss: 0.5475
Epoch 5/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 305us/step - accuracy: 0.7326 - loss: 0.5508
Epoch 6/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.7380 - loss: 0.5451
Epoch 7/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 325us/step - accuracy: 0.7374 - loss: 0.5464
Epoch 8/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 367us/step - accuracy: 0.7349 - loss: 0.5428
Epoch 9/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 329us/step - accuracy: 0.7358 - loss: 0.5461
Epoch 10/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 339us/step - accuracy: 0.7350 - loss: 0.5477
Epoch 11/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 369us/step - accuracy: 0.7343 - loss: 0.5502
Epoch 12/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 335us/step - accuracy: 0.7393 - loss: 0.5418
Epoch 13/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 311us/step - accuracy: 0.7328 - loss: 0.5482
Epoch 14/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 329us/step - accuracy: 0.7405 - loss: 0.5404
Epoch 15/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 314us/step - accuracy: 0.7418 - loss: 0.5382
Epoch 16/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 388us/step - accuracy: 0.7317 - loss: 0.5506
Epoch 17/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 314us/step - accuracy: 0.7384 - loss: 0.5425
Epoch 18/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 339us/step - accuracy: 0.7346 - loss: 0.5472
Epoch 19/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7424 - loss: 0.5398
Epoch 20/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 309us/step - accuracy: 0.7347 - loss: 0.5455
Epoch 21/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 340us/step - accuracy: 0.7362 - loss: 0.5425
Epoch 22/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 315us/step - accuracy: 0.7428 - loss: 0.5359
Epoch 23/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 309us/step - accuracy: 0.7377 - loss: 0.5413
Epoch 24/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 381us/step - accuracy: 0.7358 - loss: 0.5422
Epoch 25/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 314us/step - accuracy: 0.7428 - loss: 0.5357
Epoch 26/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 319us/step - accuracy: 0.7410 - loss: 0.5409
Epoch 27/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 329us/step - accuracy: 0.7358 - loss: 0.5422
Epoch 28/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 312us/step - accuracy: 0.7374 - loss: 0.5430
Epoch 29/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7392 - loss: 0.5383
Epoch 30/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 306us/step - accuracy: 0.7400 - loss: 0.5428
Epoch 31/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 302us/step - accuracy: 0.7375 - loss: 0.5397
Epoch 32/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 302us/step - accuracy: 0.7411 - loss: 0.5392
Epoch 33/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 358us/step - accuracy: 0.7370 - loss: 0.5406
Epoch 34/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 302us/step - accuracy: 0.7381 - loss: 0.5406
Epoch 35/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7421 - loss: 0.5380
Epoch 36/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7345 - loss: 0.5431
Epoch 37/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 320us/step - accuracy: 0.7407 - loss: 0.5384
Epoch 38/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 333us/step - accuracy: 0.7416 - loss: 0.5380
Epoch 39/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 311us/step - accuracy: 0.7421 - loss: 0.5373
Epoch 40/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.7384 - loss: 0.5391
Epoch 41/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 311us/step - accuracy: 0.7446 - loss: 0.5354
Epoch 42/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 383us/step - accuracy: 0.7329 - loss: 0.5446
Epoch 43/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7412 - loss: 0.5377
Epoch 44/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 324us/step - accuracy: 0.7350 - loss: 0.5435
Epoch 45/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7368 - loss: 0.5401
Epoch 46/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 309us/step - accuracy: 0.7380 - loss: 0.5407
Epoch 47/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.7404 - loss: 0.5386
Epoch 48/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7380 - loss: 0.5394
Epoch 49/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 315us/step - accuracy: 0.7374 - loss: 0.5406
Epoch 50/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7429 - loss: 0.5397
Epoch 51/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 325us/step - accuracy: 0.7453 - loss: 0.5361
Epoch 52/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7430 - loss: 0.5355
Epoch 53/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7398 - loss: 0.5409
Epoch 54/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 306us/step - accuracy: 0.7382 - loss: 0.5391
Epoch 55/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7394 - loss: 0.5395
Epoch 56/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 323us/step - accuracy: 0.7358 - loss: 0.5419
Epoch 57/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 309us/step - accuracy: 0.7356 - loss: 0.5431
Epoch 58/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 309us/step - accuracy: 0.7419 - loss: 0.5355
Epoch 59/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 306us/step - accuracy: 0.7421 - loss: 0.5341
Epoch 60/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7420 - loss: 0.5342
Epoch 61/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 366us/step - accuracy: 0.7432 - loss: 0.5352
Epoch 62/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 304us/step - accuracy: 0.7423 - loss: 0.5365
Epoch 63/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 325us/step - accuracy: 0.7414 - loss: 0.5351
Epoch 64/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7416 - loss: 0.5372
Epoch 65/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.7435 - loss: 0.5319
Epoch 66/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7446 - loss: 0.5336
Epoch 67/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7420 - loss: 0.5349
Epoch 68/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7443 - loss: 0.5364
Epoch 69/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.7379 - loss: 0.5387
Epoch 70/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 384us/step - accuracy: 0.7391 - loss: 0.5387
Epoch 71/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7403 - loss: 0.5364
Epoch 72/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7355 - loss: 0.5451
Epoch 73/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.7417 - loss: 0.5370
Epoch 74/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.7406 - loss: 0.5358
Epoch 75/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 311us/step - accuracy: 0.7440 - loss: 0.5326
Epoch 76/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7431 - loss: 0.5314
Epoch 77/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 321us/step - accuracy: 0.7427 - loss: 0.5358
Epoch 78/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 309us/step - accuracy: 0.7433 - loss: 0.5367
Epoch 79/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 363us/step - accuracy: 0.7394 - loss: 0.5373
Epoch 80/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 304us/step - accuracy: 0.7424 - loss: 0.5354
Epoch 81/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 309us/step - accuracy: 0.7359 - loss: 0.5406
Epoch 82/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.7412 - loss: 0.5382
Epoch 83/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7391 - loss: 0.5386
Epoch 84/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7403 - loss: 0.5406
Epoch 85/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7474 - loss: 0.5307
Epoch 86/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7438 - loss: 0.5333
Epoch 87/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 306us/step - accuracy: 0.7438 - loss: 0.5341
Epoch 88/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 401us/step - accuracy: 0.7421 - loss: 0.5328
Epoch 89/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7401 - loss: 0.5367
Epoch 90/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.7394 - loss: 0.5392
Epoch 91/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 323us/step - accuracy: 0.7443 - loss: 0.5346
Epoch 92/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 309us/step - accuracy: 0.7405 - loss: 0.5356
Epoch 93/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 306us/step - accuracy: 0.7393 - loss: 0.5365
Epoch 94/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7432 - loss: 0.5317
Epoch 95/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 304us/step - accuracy: 0.7432 - loss: 0.5322
Epoch 96/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7452 - loss: 0.5315
Epoch 97/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 364us/step - accuracy: 0.7400 - loss: 0.5382
Epoch 98/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 324us/step - accuracy: 0.7430 - loss: 0.5360
Epoch 99/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 306us/step - accuracy: 0.7367 - loss: 0.5374
Epoch 100/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 309us/step - accuracy: 0.7418 - loss: 0.5373

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 441us/step - accuracy: 0.7226 - loss: 0.5744
Loss: 0.5744063854217529, Accuracy: 0.7226047515869141

In [19]:
# Export our model to HDF5 file
def save_model(model,filename):
    model.save(filename)

save_model(nn, 'AlphabetSoupCharity_optimization_3.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

## Changes to attempt optimization on accuracy:
### Dropped Status columns because it is so unbalanced when looking at the value count 34268 to 5. I also dropped the Speacial Considerations columns because of their unbalnaced value counts.

In [20]:
print(no_id_application_df['STATUS'].value_counts())
print(no_id_application_df['SPECIAL_CONSIDERATIONS_N'].value_counts())
print(no_id_application_df['SPECIAL_CONSIDERATIONS_Y'].value_counts())

STATUS
1    34268
0        5
Name: count, dtype: int64
SPECIAL_CONSIDERATIONS_N
1.0    34246
0.0       27
Name: count, dtype: int64
SPECIAL_CONSIDERATIONS_Y
0.0    34246
1.0       27
Name: count, dtype: int64