## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from lazypredict.Supervised import LazyClassifier

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head(10)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,10556855,MINORITY ORGAN & TISSUE TRANSPLANT & EDUCATION...,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,10558440,FRIENDS OF ARTS COUNCIL OF GREATER DENHAM SPRI...,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,10566033,ISRAEL EMERGENCY ALLIANCE,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,10570430,ARAMCO BRATS INC,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,10571689,INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
no_id_application_df = application_df.drop(columns=['EIN','NAME'])
no_id_application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
no_id_application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_value_counts = no_id_application_df['APPLICATION_TYPE'].value_counts()

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_filter = application_value_counts < 100

application_types_to_replace = application_value_counts.loc[application_types_filter].index
# application_types_to_replace
# Replace in dataframe
for app in application_types_to_replace:
    no_id_application_df['APPLICATION_TYPE'] = no_id_application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
no_id_application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_value_counts = no_id_application_df['CLASSIFICATION'].value_counts()
classification_value_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
filter = classification_value_counts > 1
multiple_classifications = classification_value_counts.loc[filter].index
multiple_classifications# You may find it helpful to look at CLASSIFICATION value counts >1

Index(['C1000', 'C2000', 'C1200', 'C3000', 'C2100', 'C7000', 'C1700', 'C4000',
       'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230',
       'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800',
       'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210',
       'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0',
       'C3200', 'C1234', 'C1246', 'C1267', 'C1256'],
      dtype='object', name='CLASSIFICATION')

In [8]:
#create data frame that only uses classifications with more than one classification 
no_id_application_df = no_id_application_df.loc[no_id_application_df['CLASSIFICATION'].isin(multiple_classifications)]
no_id_application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_filter = classification_value_counts < 200
classifications_to_replace = classification_value_counts.loc[classification_filter].index

# Replace in dataframe
for cls in classifications_to_replace:
    no_id_application_df['CLASSIFICATION'] = no_id_application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
no_id_application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1171
C7000      777
C1700      287
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
# no_id_application_df.dtypes

no_id_application_df = pd.get_dummies(no_id_application_df,dtype=float)

In [11]:
no_id_application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.00,1.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00
1,1,108590,1,0.00,0.00,0.00,1.00,0.00,0.00,0.00,...,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00
2,1,5000,0,0.00,0.00,0.00,0.00,0.00,1.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00
3,1,6692,1,0.00,0.00,0.00,1.00,0.00,0.00,0.00,...,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00
4,1,142590,1,0.00,0.00,0.00,1.00,0.00,0.00,0.00,...,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.00,0.00,0.00,0.00,1.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00
34295,1,5000,0,0.00,0.00,0.00,0.00,1.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00
34296,1,5000,0,0.00,0.00,0.00,1.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00
34297,1,5000,1,0.00,0.00,0.00,0.00,0.00,1.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00
34298,1,36500179,0,0.00,0.00,0.00,1.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,1.00,0.00

In [12]:
no_id_application_df.columns

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3',
       'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8', 'APPLICATION_TYPE_T9',
       'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent',
       'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200',
       'CLASSIFICATION_C1700', 'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100',
       'CLASSIFICATION_C3000', 'CLASSIFICATION_C7000', 'CLASSIFICATION_Other',
       'USE_CASE_CommunityServ', 'USE_CASE_Heathcare', 'USE_CASE_Other',
       'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0',
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

In [13]:
# Split our preprocessed data into our features and target arrays
X = no_id_application_df.drop(columns=['IS_SUCCESSFUL','SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y','STATUS'], axis=1).values
y = no_id_application_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42, stratify=y)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
lazy = LazyClassifier()
lazy.fit(X_train_scaled, X_test_scaled,y_train,y_test)

100%|██████████| 29/29 [1:48:58<00:00, 225.47s/it]

[LightGBM] [Info] Number of positive: 13682, number of negative: 12022
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.002819 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 372
[LightGBM] [Info] Number of data points in the train set: 25704, number of used features: 40
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.532291 -> initscore=0.129343
[LightGBM] [Info] Start training from score 0.129343

(                               Accuracy  Balanced Accuracy  ROC AUC  F1 Score  \
 Model
 XGBClassifier                      0.72               0.72     0.72      0.72
 LGBMClassifier                     0.72               0.72     0.72      0.72
 SVC                                0.72               0.72     0.72      0.72
 LabelSpreading                     0.72               0.72     0.72      0.72
 LabelPropagation                   0.72               0.72     0.72      0.72
 CalibratedClassifierCV             0.72               0.71     0.71      0.72
 RidgeClassifierCV                  0.72               0.71     0.71      0.72
 RidgeClassifier                    0.72               0.71     0.71      0.72
 LinearDiscriminantAnalysis         0.72               0.71     0.71      0.72
 LinearSVC                          0.72               0.71     0.71      0.72
 LogisticRegression                 0.72               0.71     0.71      0.72
 AdaBoostClassifier                 0.71               0.71     0.71      0.71
 SGDClassifier                      0.71               0.71     0.71      0.71
 ExtraTreesClassifier               0.71               0.71     0.71      0.71
 ExtraTreeClassifier                0.71               0.71     0.71      0.71
 BaggingClassifier                  0.71               0.71     0.71      0.71
 RandomForestClassifier             0.71               0.71     0.71      0.71
 KNeighborsClassifier               0.71               0.70     0.70      0.71
 DecisionTreeClassifier             0.70               0.70     0.70      0.70
 NuSVC                              0.70               0.70     0.70      0.70
 BernoulliNB                        0.69               0.69     0.69      0.69
 NearestCentroid                    0.68               0.68     0.68      0.68
 PassiveAggressiveClassifier        0.67               0.67     0.67      0.67
 Perceptron                         0.58               0.58     0.58      0.58
 GaussianNB                         0.52               0.54     0.54      0.42
 QuadraticDiscriminantAnalysis      0.51               0.54     0.54      0.40
 DummyClassifier                    0.53               0.50     0.50      0.37

                                Time Taken
 Model
 XGBClassifier                        0.15
 LGBMClassifier                       0.17
 SVC                                 18.69
 LabelSpreading                    5910.60
 LabelPropagation                   570.60
 CalibratedClassifierCV               0.33
 RidgeClassifierCV                    0.08
 RidgeClassifier                      0.04
 LinearDiscriminantAnalysis           0.20
 LinearSVC                            3.15
 LogisticRegression                   0.13
 AdaBoostClassifier                   0.50
 SGDClassifier                        0.28
 ExtraTreesClassifier                 1.16
 ExtraTreeClassifier                  0.05
 BaggingClassifier                    0.35
 RandomForestClassifier               1.11
 KNeighborsClassifier                 0.21
 DecisionTreeClassifier               0.11
 NuSVC                               30.22
 BernoulliNB                          0.04
 NearestCentroid                      0.08
 PassiveAggressiveClassifier          0.07
 Perceptron                           0.07
 GaussianNB                           0.04
 QuadraticDiscriminantAnalysis        0.09
 DummyClassifier                      0.04  ,
                                Accuracy  Balanced Accuracy  ROC AUC  F1 Score  \
 Model
 XGBClassifier                      0.72               0.72     0.72      0.72
 LGBMClassifier                     0.72               0.72     0.72      0.72
 SVC                                0.72               0.72     0.72      0.72
 LabelSpreading                     0.72               0.72     0.72      0.72
 LabelPropagation                   0.72               0.72     0.72      0.72
 CalibratedClassifierCV             0.72               0.71     0.71      0.72
 RidgeClassifierCV                  0.72               0.71     0.71      0.72
 RidgeClassifier                    0.72               0.71     0.71      0.72
 LinearDiscriminantAnalysis         0.72               0.71     0.71      0.72
 LinearSVC                          0.72               0.71     0.71      0.72
 LogisticRegression                 0.72               0.71     0.71      0.72
 AdaBoostClassifier                 0.71               0.71     0.71      0.71
 SGDClassifier                      0.71               0.71     0.71      0.71
 ExtraTreesClassifier               0.71               0.71     0.71      0.71
 ExtraTreeClassifier                0.71               0.71     0.71      0.71
 BaggingClassifier                  0.71               0.71     0.71      0.71
 RandomForestClassifier             0.71               0.71     0.71      0.71
 KNeighborsClassifier               0.71               0.70     0.70      0.71
 DecisionTreeClassifier             0.70               0.70     0.70      0.70
 NuSVC                              0.70               0.70     0.70      0.70
 BernoulliNB                        0.69               0.69     0.69      0.69
 NearestCentroid                    0.68               0.68     0.68      0.68
 PassiveAggressiveClassifier        0.67               0.67     0.67      0.67
 Perceptron                         0.58               0.58     0.58      0.58
 GaussianNB                         0.52               0.54     0.54      0.42
 QuadraticDiscriminantAnalysis      0.51               0.54     0.54      0.40
 DummyClassifier                    0.53               0.50     0.50      0.37

                                Time Taken
 Model
 XGBClassifier                        0.15
 LGBMClassifier                       0.17
 SVC                                 18.69
 LabelSpreading                    5910.60
 LabelPropagation                   570.60
 CalibratedClassifierCV               0.33
 RidgeClassifierCV                    0.08
 RidgeClassifier                      0.04
 LinearDiscriminantAnalysis           0.20
 LinearSVC                            3.15
 LogisticRegression                   0.13
 AdaBoostClassifier                   0.50
 SGDClassifier                        0.28
 ExtraTreesClassifier                 1.16
 ExtraTreeClassifier                  0.05
 BaggingClassifier                    0.35
 RandomForestClassifier               1.11
 KNeighborsClassifier                 0.21
 DecisionTreeClassifier               0.11
 NuSVC                               30.22
 BernoulliNB                          0.04
 NearestCentroid                      0.08
 PassiveAggressiveClassifier          0.07
 Perceptron                           0.07
 GaussianNB                           0.04
 QuadraticDiscriminantAnalysis        0.09
 DummyClassifier                      0.04  )